<div id="<%= dom_id newsletter %>">
  <p>
    <strong>User:</strong>
    <%= newsletter.user.first_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= newsletter.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= newsletter.body %>
  </p>

  <p>
    <strong>Publish at:</strong>
    <%= newsletter.publish_at %>
  </p>

  <p>
    <strong>Delivered:</strong>
    <%= newsletter.delivered %>
  </p>

</div>
