<h1>Newsletters</h1>

<%= link_to "New newsletter", new_newsletter_path, class: 'btn btn-primary' %>

<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">User</th>
    <th scope="col">Title</th>
    <th scope="col">Body</th>
    <th scope="col">Publish at</th>
    <th scope="col">Scheduled</th>
    <th scope="col">Delivered</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @newsletters.each do |newsletter| %>
    <tr>
      <th scope="row"><%= newsletter.user.email %></th>
      <td><%= newsletter.title %></td>
      <td><%= newsletter.body %></td>
      <td><%= newsletter.publish_at %></td>
      <td><%= newsletter.scheduled %></td>
      <td><%= newsletter.delivered %></td>
      <td width="20%" class="d-flex">
        <%= link_to "View", newsletter, class: 'btn btn-info', style: 'margin-right: 5px;' %>
        <%= link_to "Edit", edit_newsletter_path(newsletter), class: 'btn btn-primary', style: 'margin-right: 5px;' %>
        <%= button_to "Destroy", newsletter_path(newsletter), method: :delete, class: 'btn btn-danger', form: { data: { turbo_confirm: 'Are you sure?' }} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
